body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bg1.webp'); /* Chemin vers l'image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px); /* Ajoute le flou */
    z-index: -1; /* Place le flou derrière le contenu */
  }

/* Style du formulaire */
#email-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc translucide */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

/* Style des éléments du formulaire */
#email-form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

#email-form input[type="email"] {
    width: 100%;
    padding: px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#email-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#email-form button:hover {
    background-color: #0056b3;
}
